{% extends 'base.html' %}
{% load static %}

{% block Header-searchWrap %}
{% endblock %}

{% block Header-slider %}
{% endblock %}

{% block wrap %}
<div class="wrap">
    <div class="row Header-rowMain">
        <div class="row-block Header-logo"><a class="logo" href="{% url 'index' %}"><img class="logo-image"
                                                                                     src="{% static 'assets/img/logo.png' %}"
                                                                                     alt="logo.png"/></a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="wrapper">
        <div class="error-login">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
        </div>
    <div class="header">
        <h3 class="sign-in">Вход</h3>
    </div>
    <div class="clear"></div>
    <form action="{% url 'authapp:login' %}" method="post">{% csrf_token %}
        <div>
            {{ form.username }}
        </div>
        <div>
            {{ form.password }}
        </div>
        <div>
            <input type="submit" value="Войти"/>
        </div>
        <a class="forgot-label" href="{% url 'authapp:forgot_pass' %}">Забыли пароль?</a>
        <a class="registr" href="{% url 'authapp:signup' %}">
            Регистрация
        </a>
    </form>
</div>
{% endblock %}
