{% extends 'base.html' %}
{% load static %}
{% block Header-searchWrap %}
{% endblock %}
{% block Header-slider %}
{% endblock %}
{% block wrap %}
<div class="wrap">
    <div class="row Header-rowMain">
        <div class="row-block Header-logo"><a class="logo" href="../index.html"><img class="logo-image"
                                                                                     src="{% static 'assets/img/logo.png' %}"
                                                                                     alt="logo.png"/></a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">Восстановление пароля (2/2)</h3>
        <h5>Придумайте новый пароль для учетной записи</h5>
    </div>

    <form action="" method="post">{% csrf_token %}
        <div>
            {{ form.new_password1.errors }}
            {{ form.new_password1 }}
            <!--            <input type="password" name="pass" id="name" placeholder="Пароль"/>-->
        </div>
        <div>
            {{ form.new_password2.errors }}
            {{ form.new_password2 }}
        </div>
        <div>
            <input type="submit" value="Сохранить пароль"/>
        </div>
    </form>
</div>

{% endblock %}