{% extends 'base.html' %}
{% load static %}

{% block Header-searchWrap %}
{% endblock %}

{% block Header-slider %}
{% endblock %}

{% block wrap %}
<div class="wrap">
    <div class="row Header-rowMain">
        <div class="row-block Header-logo"><a class="logo" href="../index.html"><img class="logo-image"
                                                                                     src="{% static 'assets/img/logo.png' %}"
                                                                                     alt="logo.png"/></a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="wrapper">
    <div class="clear"></div>
    <h2 class="verified">
        Вы успешно подтвердили свой аккаунт
    </h2>
</div>
{% endblock %}
