{% extends 'base.html' %}
{% load static %}


{% block title %}
    Megano
{% endblock %}


{% block Header-slider %}
{% endblock %}

{% block content %}
    <div class="Middle Middle_top">
        <div class="Section">
            <div class="wrap">
                {% if items %}
                <form class="form Cart" action="#" method="post">
                    {% for item in items %}
                    <div class="Cart-product">
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_pict">
                                <a class="Cart-pict" href="#">
                                    {% if count_list %}
                                    <img class="Cart-img" src="{{item.image.url}}" alt="card.jpg" />
                                    {% else %}
                                    <img class="Cart-img" src="{{item.product.image.url}}" alt="card.jpg" />
                                    {% endif %}
                                </a>
                            </div>
                            {% if count_list %}
                            <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{item.name}}</a>
                                <div class="Cart-desc">{{item.description}}
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_price">
                                <div class="Cart-price">80.00$
                                </div>
                            </div>
                            {% else %}
                            <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{item.product.name}}</a>
                                <div class="Cart-desc">{{item.product.description}}
                                </div>
                            </div>
                            <div class="Cart-block Cart-block_price">
                                <div class="Cart-price">$$$
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_seller">
                                <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->

                            </div>
                            <div class="Cart-block Cart-block_amount">
                                <div class="Cart-amount">
                                    {% if count_list %}
                                    <div class="Amount">
                                        <button class="Amount-remove" formaction="{% url 'cartapp:remove_product' item.pk %}" type="button">
                                        </button>
                                        <input class="Amount-input form-input" name="amount" type="text" value=$ formmethod="get"/>
                                        <button class="Amount-add" type="submit" formaction="{% url 'cartapp:add_product' item.pk %}" formmethod="get">
                                        </button>
                                    </div>
                                    {% else %}
                                    <div class="Amount">
                                        <button class="Amount-remove" formaction="{% url 'cartapp:remove_product' item.product.pk %}" type="button">
                                        </button>
                                        <input class="Amount-input form-input" name="amount" type="text" value={{item.quantity}} formmethod="get"/>
                                        <button class="Amount-add" type="submit" formaction="{% url 'cartapp:add_product' item.product.pk %}" formmethod="get">
                                        </button>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if count_list  %}
                            <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="{% url 'cartapp:delete_product' item.pk %}"><img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg" /></a>
                            </div>
                            {% else %}
                            <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="{% url 'cartapp:delete_product' item.product.pk %}"><img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg" /></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="Cart-total">
                        <div class="Cart-block Cart-block_total">
                            <strong class="Cart-title">Итого:
                            </strong><span class="Cart-price">200.99$</span>
                        </div>
                        <div class="Cart-block"><a class="btn btn_success btn_lg" href="order.html">Оформить заказ</a>
                        </div>
                    </div>
                </form>
                {% else %}
                <h2 class="empty-cart">Товары в корзине отсутствуют</h2>
                <div></div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
