{% extends 'base.html' %}
{% load static %}
{% load i18n %}


{% block title %}
    Megano
{% endblock %}

{% block Header-slider %}
{% endblock %}

{% block content %}

    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnRight Section_columnWide Order">
            <div class="wrap">

                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Прогресс заполнения
                            </strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="Order-navigate">
                                <ul class="menu menu_vt">
                                    <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="#step1">Шаг 1. Параметры заказа</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="#step2">Шаг 2. Способ оплаты</a>
                                    </li>
                                    <li class="menu-item"><a class="menu-link" href="#step3">Шаг 3. Подтверждение заказа</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Section-content">
                    <form class="form" action="{% url 'paymentapp:payment' order.pk %}" method="post">
                        {% csrf_token %}
                        <div class="Order-block Order-block_OPEN" id="step1">
                            <header class="Section-header Section-header_sm">
                                <h2 class="Section-title">{% translate 'Step 1: Order info' %}
                                </h2>
                            </header>
                            <div class="row">
                                <div class="row-block">
                                    <div class="form-group">
                                        <label class="form-label">{% translate 'FIO' %}
                                            {{profile_form.fio}}
                                            {{profile_form.fio.errors}}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{% translate 'Phone' %}
                                            {{profile_form.phone_number}}
                                            {{profile_form.phone_number.errors}}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        {% for delivery_type in order_form.delivery_type %}
                                            <div>
                                            <label class="toggle">
                                                {{delivery_type.tag}}<span class="toggle-box"></span><span class="toggle-text">{{delivery_type.choice_label}}</span>
                                            </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="row-block">
                                    <div class="form-group">
                                        <label class="form-label" for="city">{% translate 'City' %}</label>
                                        <input class="form-input" id="city" name="city" type="text" value="{% firstof order_form.city.value '' %}"/>
                                        {{order_form.city.errors}}
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="address">{% translate 'The address is' %}</label>
                                        <textarea class="form-textarea" name="address" id="address" >{% firstof order_form.address.value '' %}</textarea>
                                        {{order_form.address.errors}}
                                    </div>

                                </div>
                            </div>
                            <div class="Order-footer"><a class="btn btn_success Order-next" href="#step2">{% translate 'Next' %}</a>
                            </div>
                        </div>
                        <div class="Order-block" id="step2">
                            <header class="Section-header Section-header_sm">
                                <h2 class="Section-title">{% translate 'Step 2: Payment method' %}
                                </h2>
                            </header>
                            <div class="form-group">
                                <div>
                                    <label class="toggle">
                                        <input type="radio" name="pay" value="online" checked="checked" /><span class="toggle-box"></span><span class="toggle-text">{% translate 'Online map' %}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="Order-footer"><a id="result_btn" class="btn btn_success Order-next" href="#step3">{% translate 'Next' %}</a>
                            </div>
                        </div>
                        <div class="Order-block" id="step3">
                            <header class="Section-header Section-header_sm">
                                <h2 class="Section-title">{% translate 'Step 3: Confirm order' %}
                                </h2>
                            </header>
                            <div class="Order-infoBlock">
                                <div class="Order-personal">
                                    <div class="row">
                                        <div class="row-block">
                                            <div class="Order-info">
                                                <div class="Order-infoType">{% translate 'FIO' %}:
                                                </div>
                                                <div class="Order-infoContent" id="order_fio">
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">{% translate 'Phone' %}:
                                                </div>
                                                <div class="Order-infoContent" id="order_phone_number">
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">E-mail:
                                                </div>
                                                <div class="Order-infoContent">{{request.user.email}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row-block">
                                            <div class="Order-info Order-info_delivery">
                                                <div class="Order-infoType">{% translate 'Type of delivery' %}:
                                                </div>
                                                <div class="Order-infoContent" id="order_delivery_type">
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">{% translate 'City' %}:
                                                </div>
                                                <div class="Order-infoContent" id="order_city">
                                                </div>
                                            </div>
                                            <div class="Order-info">
                                                <div class="Order-infoType">{% translate 'The address is' %}:
                                                </div>
                                                <div class="Order-infoContent" id="order_address">
                                                </div>
                                            </div>
                                            <div class="Order-info Order-info_pay">
                                                <div class="Order-infoType">{% translate 'Payment' %}:
                                                </div>
                                                <div class="Order-infoContent">{% translate 'Online map' %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Cart Cart_order">
                                    {% for item in order.order_items.all %}
                                    <div class="Cart-product">
                                        <div class="Cart-block Cart-block_row">
                                            <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="{{item.product.image.url}}" alt="card.jpg" /></a>
                                            </div>
                                            <div class="Cart-block Cart-block_info"><a class="Cart-title" href="{% url 'productsapp:product_detail' item.product.pk %}">{{item.product.name}}</a>
                                                <div class="Cart-desc">{{item.product.description}}
                                                </div>
                                            </div>
                                            <div class="Cart-block Cart-block_price">
                                                <div class="Cart-price">{{item.price}}&#8381;
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Cart-block Cart-block_row">
                                            <div class="Cart-block Cart-block_amount">{{item.count}} шт.
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="Cart-total">
                                        <div class="Cart-block Cart-block_total">
                                            <strong class="Cart-title">{% translate 'Total' %}:
                                            </strong><span class="Cart-price">{{total_sum}}&#8381;</span>
                                        </div>
                                        <div class="Cart-block">
                                            <button id="btn_open_modal" class="btn btn_primary btn_lg" type="button">{% translate 'Pay' %}
                                            </button>
                                            <div id="modal" class="modal__overlay">
                                                <div class="modal__content">
                                                    {{payment_form}}
                                                    <button class="btn btn_primary" type="submit">Pay</button>
                                                    <button id="cancel" class="btn btn_primary cancel_btn" type="button">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
